<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
    <div class="user-image">
        <img src="images/faces/face28.png">
    </div>
    <div class="user-name">
        Edward Spencer
    </div>
    <div class="user-designation">
        Developer
    </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/employe/home/les-rendez-vous">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Les rendez-vous</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/employe/home/gestion-de-profil">
            <i class="icon-help menu-icon"></i>
            <span class="menu-title">Gestion de profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/employe/home/suivi-Tâche">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Les tâches</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->